/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5e8e8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box1 {
    text-align: center;
    padding: 20px;
    background-image: url('LIBYA\ DM.jpg');
    background-repeat: no-repeat;
}
.box1-image {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;

    animation-name: slideUp;
    animation-duration: 2s;
}



@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


.box2 {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

/* Responsive design adjustments */
@media only screen and (max-width: 600px) {
    .box1 h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}

footer p{
    text-align: center;
    padding: 1em 0;
    background-color: #777373;
    color: #fff;
    border-radius: 0 0 8px 8px;
}